@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&family=Quattrocento+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=News+Cycle&display=swap");

:root {
  background-color: rgb(52, 54, 54);
}
html {
  overflow-x: hidden;
}
.App {
  /*     background-image: url("https://img5.goodfon.ru/original/1920x1080/5/7d/volny-tekstury-sinie-ottenki.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-image: url('fon3.jpg');
  background-position: center center;
  background-attachment: fixed; */
  background: rgb(31, 31, 31);
  background: linear-gradient(
    90deg,
    rgba(31, 31, 31, 1) 19%,
    rgba(51, 51, 51, 1) 89%
  );
  color: rgb(255, 255, 255);
  font-family: "Poiret One", cursive;
}
.App a {
  /*   text-decoration: none; */
  color: aliceblue;
}
a :hover {
  cursor: pointer;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  height: max-content;
  min-height: 100vh;
  width: 80vw;

  background-color: rgba(51, 51, 51, 1);

  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 30px;
  backdrop-filter: blur(1px);
  box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.353);
}
.myColor {
  background-color: rgb(0, 0, 0); /* header,  */
  background: linear-gradient(
    90deg,
    rgba(31, 31, 31, 1) 19%,
    rgba(51, 51, 51, 1) 89% /* fon */
  );
  background-color: rgba(31, 31, 31, 1); /* down */
}

/* ------------header---------- */
.head {
  position: fixed;
  height: 60px;
  width: 100vw;
  z-index: 4;

  background-color: rgb(0, 0, 0);
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid rgb(255, 200, 0);

  display: flex; /* задаем родителю */
  justify-content: space-between; /* дочерние элементы в конец по горизонтальной оси */
  align-items: center; /* дочерние элементы по центру по вертикальной оси */
}
.head h1 {
  margin: 0 30px;
}

/* -------------nav--------------- */
.nav {
  width: 300px;
  display: flex; /* задаем ребенку */
  justify-content: space-between; /* растягивает на ширину родит блока с равными промежутками между ними */

  margin-right: 40px;
}
.nav p {
  cursor: pointer;

  /*   margin-right: 20px; */
}

/* -------------main----------------- */

.mainContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  font-family: "Exo 2", sans-serif;

  height: max-content;
  min-height: 100vh;
  width: 80vw;

  margin: 0 auto;

  /*  
  background-color: #020c249f;
  margin-bottom: 30px;
  border-radius: 50px;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.17); */
}
.helloPage {
  display: flex;
  align-items: center;
}
.mainInfo {
  width: 300px;
  height: 300px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(1, 12, 21);
}
.mainInfo a {
  color: black;
}
.mainPhoto {
  width: 600px;
  background-color: rgb(255, 200, 0);
}
.mainPhoto img {
  width: 100%;
}

/* -----------skillSSS-------------- */
.skillsBlock {
  text-align: center;
}
.skilsContainer {
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 70px;
}
.skillTitle {
  width: 100vw;
  position: absolute;
  z-index: 3;
}

/* ------------skill----------------- */
.skilContainer {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin: 15px;
  padding: 30px;
  width: 250px;
  min-height: 250px;
  background-color: rgba(1, 15, 27, 0.168);
  border-radius: 6px;

  font-size: larger;
}
.skilContainer li {
  text-align: start;
}
.icon {
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.3));
  width: 60px;
  height: 60px;
}

/* ----------mywork----------------- */

.myWorksContainer {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
.myWorksContainer h1 {
  margin: 3vh auto 0 auto;
}

/* ----------OneWork-------------- */

.OneWorksBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  justify-content: space-around;
  margin: 4vh 8vw;
  font-size: large;

  font-family: "Exo 2", sans-serif;
  font-family: "News Cycle", sans-serif;
}
.imgWork {
  height: 200px;
  margin: 30px;
}
.blockImgText {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  margin: 20px auto;
  font-size: larger;
  width: 90%;
}
.imgDivOneWork {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.imgWork:hover {
  transition:ease-in-out 1s; /* Время эффекта */
  transform: scale(2.8); /* Увеличиваем масштаб */
}

/* ----------DownBack--------------- */
.blockDown {
  width: 100vw;
  height: 400px;

  background-color: rgba(31, 31, 31, 1);

  font-size: larger;
}
.blockDown ul {
  font-family: "Exo 2", sans-serif;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 80px;
}
.blockDown li {
  list-style-type: none; /* Убираем маркеры */
  height: 40px;
  font-size: 20px;
}
.blockDown img {
  height: 45px;
  margin: 10px;
}
.blockDown p {
  font-family: "Exo 2", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.h1Y {
  margin-top: 50px;
  text-align: center;
}
.blockDown li:hover {
  transition: 0.19s; /* Время эффекта */
  transform: scale(1.2); /* Увеличиваем масштаб */
}

@media (max-width: 1081px) {
  .container {
    width: 100vw;
    border-radius: 10px;
  }
  .head h1 {
    margin: 0 3px;
  }
  .nav {
    margin-right: 10px;
  }
  .helloPage {
    display: flex;
    flex-direction: column;
  }
  .mainContainer {
    align-items: flex-start;
  }
  .OneWorksBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    justify-content: space-around;
    margin: 4vh 0;
    font-size: large;
    width: 100vw;
  }
  .imgWork {
    height: 150px;
    margin: 30px 0;
  }
  .mainPhoto {
    margin-top: 15vh;
    width: 95vw;
    height: 100%;
  }
}
