@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&family=Quattrocento+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=News+Cycle&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Montserrat+Alternates&family=News+Cycle&family=Poiret+One&family=Rubik+Iso&family=Sono:wght@300&family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@600&family=Special+Elite&display=swap");
:root {
  background-color: rgb(52, 54, 54);
}

html {
  overflow-x: hidden;
}

.App {
  /*     background-image: url("https://img5.goodfon.ru/original/1920x1080/5/7d/volny-tekstury-sinie-ottenki.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-image: url('fon3.jpg');
  background-position: center center;
  background-attachment: fixed; */
  background: rgb(31, 31, 31);
  background: -webkit-gradient(linear, left top, right top, color-stop(19%, rgb(31, 31, 31)), color-stop(89%, rgb(51, 51, 51)));
  background: linear-gradient(90deg, rgb(31, 31, 31) 19%, rgb(51, 51, 51) 89%);
  color: rgb(255, 255, 255);
  font-family: "Poiret One", cursive;
}
.App a {
  color: rgb(253, 253, 253);
}
.App a:hover {
  cursor: pointer;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  min-height: 100vh;
  width: 80vw;
  background-color: rgb(51, 51, 51);
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 30px;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  -webkit-box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.353);
          box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.353);
}

/* ------------header---------- */
.head {
  position: fixed;
  height: 60px;
  width: 100vw;
  z-index: 4;
  background-color: rgb(0, 0, 0);
  -webkit-box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid rgb(255, 191, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /* задаем родителю */
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; /* дочерние элементы в конец по горизонтальной оси */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; /* дочерние элементы по центру по вертикальной оси */
  font-family: "Blinker", sans-serif;
  font-size: 15px;
}
.head h1 {
  margin: 0 30px;
  /* font-family: "Poiret One", cursive; */
  font-family: "Poiret One", cursive;
  color: white;
}

/* -------------nav--------------- */
.nav {
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /* задаем ребенку */
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; /* растягивает на ширину родит блока с равными промежутками между ними */
  margin-right: 40px;
}
.nav p {
  cursor: pointer;
}
.nav p:hover {
  -webkit-transition: 0.19s;
  transition: 0.19s; /* Время эффекта */
  -webkit-transform: scale(1.02);
          transform: scale(1.02); /* Увеличиваем масштаб */
  border-bottom: 1px solid white;
}

/* -------------main----------------- */
.mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Exo 2", sans-serif;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  min-height: 100vh;
  width: 80vw;
  margin: 0 auto;
}
.mainContainer .helloPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainInfo {
  width: 500px;
  height: 300px;
  padding: 20px;
  margin-left: -40px;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
  z-index: 2;
  font-size: large;
  font-family: "Montserrat Alternates", sans-serif;
}
.mainInfo .mainH1 {
  margin-left: -120px;
  margin-bottom: 0;
  font-family: "Blinker", sans-serif;
  font-size: 50px;
}
.mainInfo .mainH2 {
  margin-left: -50px;
  margin-top: 0;
  font-family: "Blinker", sans-serif;
  font-size: 40px;
}
.mainInfo .mainH5 {
  margin-left: -30px;
}

.mainPhoto {
  width: 1000px;
  background-color: rgba(255, 200, 0, 0);
}

.mainPhoto img {
  width: 100%;
  -webkit-filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.356));
          filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.356));
}

/* -----------skillSSS-------------- */
.skillsBlock {
  text-align: center;
}

.skilsContainer {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 70px;
}

.skillTitle {
  width: 100vw;
  position: absolute;
  z-index: 3;
}

/* ------------skill----------------- */
.skilContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px;
  padding: 30px;
  width: 250px;
  min-height: 250px;
  background-color: rgba(1, 15, 27, 0.103);
  border-radius: 6px;
  font-size: larger;
}

.skilContainer li {
  text-align: start;
}

.icon {
  -webkit-filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.3));
  width: 60px;
  height: 60px;
}

.skilContainer p {
  width: 90%;
  font-family: "Blinker", sans-serif;
  text-align: center;
  color: rgb(227, 227, 227);
}

/* ----------mywork----------------- */
.myWorksContainer {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.myWorksContainer h1 {
  font-family: "Poiret One", cursive;
  color: white;
  margin: 3vh auto 0 auto;
}

.myWorksContainer_OtherWorks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-bottom: 25px;
  font-family: "Exo 2", sans-serif;
  font-family: "News Cycle", sans-serif;
}
.myWorksContainer_OtherWorks h1 {
  text-align: center;
  width: 80vw;
}
.myWorksContainer_OtherWorks .OtherWorks_one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.myWorksContainer_OtherWorks .OtherWorks_one h2 {
  width: 10vw;
}
.myWorksContainer_OtherWorks .OtherWorks_one div {
  width: 60vw;
}
.myWorksContainer_OtherWorks .OtherWorks_one p {
  width: 100%;
}

/* ----------OneWork-------------- */
.OneWorksBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 4vh 4vw;
  font-size: large;
  font-family: "Exo 2", sans-serif;
  font-family: "News Cycle", sans-serif;
}

.imgWork {
  height: 200px;
  margin: 30px;
}

.blockImgText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  margin: 20px auto;
  font-size: larger;
  width: 90%;
}

.imgDivOneWork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.imgWork:hover {
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s; /* Время эффекта */
  -webkit-transform: scale(2.8);
          transform: scale(2.8); /* Увеличиваем масштаб */
}

/* ----------DownBack--------------- */
.blockDown {
  width: 100vw;
  height: 400px;
  background-color: rgb(31, 31, 31);
  font-size: larger;
}

.blockDown ul {
  font-family: "Exo 2", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px;
}

.blockDown li {
  list-style-type: none; /* Убираем маркеры */
  height: 40px;
  font-size: 20px;
}

.blockDown img {
  height: 45px;
  margin: 10px;
}

.blockDown p {
  font-family: "Exo 2", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.h1Y {
  margin-top: 50px;
  text-align: center;
}

.blockDown li:hover {
  -webkit-transition: 0.19s;
  transition: 0.19s; /* Время эффекта */
  -webkit-transform: scale(1.2);
          transform: scale(1.2); /* Увеличиваем масштаб */
}

@media (max-width: 1081px) {
  .container {
    width: 100vw;
    border-radius: 10px;
  }
  .head {
    height: 65px;
  }
  .head h1 {
    font-size: 25px;
    margin: 5px;
  }
  .nav {
    margin-right: 10px;
  }
  .helloPage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mainContainer {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .OneWorksBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: justify;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 4vh 0;
    font-size: large;
    width: 100vw;
  }
  .myWorksContainer_OtherWorks {
    padding: 0;
    margin: 0 5vw;
  }
  .myWorksContainer_OtherWorks .OtherWorks_one {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .myWorksContainer_OtherWorks .OtherWorks_one h2 {
    width: 90vw;
  }
  .myWorksContainer_OtherWorks .OtherWorks_one div {
    width: 90vw;
  }
  .imgWork {
    height: 150px;
    margin: 30px 0;
  }
  .mainPhoto {
    margin-top: 15vh;
    width: 95vw;
    height: 100%;
  }
  .mainInfo {
    width: 90%;
    height: 300px;
    padding: 20px;
    margin-left: 0px;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    z-index: 2;
    font-size: large;
    font-family: "Montserrat Alternates", sans-serif;
  }
  .mainInfo .mainH1 {
    margin-left: 0px;
    margin-bottom: 0;
    font-family: "Blinker", sans-serif;
    font-size: 40px;
  }
  .mainInfo .mainH2 {
    margin-left: 0px;
    margin-top: 0;
    font-family: "Blinker", sans-serif;
    font-size: 30px;
  }
  .mainInfo .mainH5 {
    margin-left: 0px;
  }
}